# Sbt

target/
project/project/*
project/target/*

# Git 
**/*.orig

# IntelliJ Idea
.idea/

# Emacs

*~
/.metals/
/.bloop/
/project/.bloop
/project/metals.sbt
\#*\#
.\#*

# Mac OS
.DS_Store

# Binaries 
*.class

